<%- include('../../Partials/header');%>

<head>
  <link rel="stylesheet" href="./public/styles/auth.css" />
</head>
<main class="container main">
  <div class="row">
    <div class="col-12 col-md-6 order-md-1 col-sm-12 order-sm-1 form mb-5">
      <form class="form-admin" action="/generate-password" method="POST">
        <h1 class="h3 mb-2 font-weight-normal">Generate Password</h1>
        <p class="mb-3" style="color: #aaa; font-weight: 300">
          Please enter your email to generate a password.
        </p>
        <label for="email" class="sr-only">Email:</label>
        <input
          type="text"
          name="email"
          id="email"
          class="form-control mb-3"
          placeholder="Email"
          required
          autofocus
        />
        <% if (messages.error) { %>
        <div class="alert alert-danger err-btn"><%= messages.error %></div>
        <% } %> <% if (messages.success) { %>
        <div class="alert alert-success"><%= messages.success %></div>
        <% } %>
        <button class="btn btn-primary btn-block signin-btn" type="submit">
          Generate Password
        </button>
      </form>
    </div>
    <div class="col-12 col-md-6 order-md-2 col-sm-12">
      <img class="mb-5 auth-img" src="./public/images/auth.svg" width="100%" />
    </div>
  </div>
</main>
<%- include('../../Partials/footer');%>