<!-- consultationUpdateForm.ejs -->
<form action="/consultations/:id/update" method="POST">
    <label for="newStartTime">New Start Time:</label>
    <input type="text" id="newStartTime" name="newStartTime" required>
  
    <label for="newEndTime">New End Time:</label>
    <input type="text" id="newEndTime" name="newEndTime" required>
  
    <button type="submit">Update Consultation</button>
  </form>
  