<%- include('./Partials/header');%>

<head>
  <link rel="stylesheet" href="./public/styles/LandingPage.css" />
</head>

<main id="main" class="container ">
  <div class=" mt-5 ">

    <div class="row mt-5 ">
      <div class="col-12 col-md-6 col-sm-12 " >
        <div class="row text-center mt-4">
          <h4 style="margin-left: auto; margin-right:auto">Consultations Made Easy</h4>
        </div>
        <div class="row text-center mt-5">
          <p>Say goodbye to the hassle of scheduling group consultations.
            Our platform makes it easy for both students and lecturers 
           to organize successful meetings in a few simple clicks</p>

        </div>
       
        <div class="row mt-5 justify-content-center">
          <div class="col-6 col-md-4 mb-3 mb-md-0">
            <button type="button" class="btn btn-primary btn-block signin-btn">Sign in</button>
          </div>
          <div class="col-6 col-md-4 ">
            <button type="button" class="btn btn-primary btn-block register-btn">Register</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-sm-12  " style="margin-left: auto; margin-right:auto">
          <img
          class=" mb-3"
          src="./public/images/landingPage.svg"
          width="100%"
         
        />
      </div>
     
    </div>
  </div>
</main>

<!--  -->
<%- include('./Partials/footer');%>
  </body> 
  </html>