<%- include('./Partials/header');%>

<head>
  <link rel="stylesheet" href="./public/styles/LandingPage.css" />
</head>

<main id="main" class="container">
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-12 col-md-6 col-sm-12">
        <div class="row text-center mt-4">
          <h1
            class="h3 mb-3 font-weight-bold text-center"
            style="margin-left: auto; margin-right: auto"
          >
            Consultations Made Easy
          </h1>
        </div>
        <div class="row text-center mt-5 font-weight-normal">
          <p>
            Say goodbye to the hassle of scheduling group consultations. Our
            platform makes it easy for both students and lecturers to organize
            successful meetings in a few simple clicks.
          </p>
          <p class="text-center" style="color: #aaa; font-weight: 300; margin-left: auto; margin-right: auto">
            Register below
          </p>
        </div>

        <div class="row mt-1 justify-content-center">
          <div class="col-6 col-md-4 mb-3 mb-md-0">
            <a href="/register-student"
              ><button
                type="button"
                class="btn btn-primary btn-block signin-btn"
              >
                Student
              </button></a
            >
          </div>
          <div class="col-6 col-md-4">
            <a href="/register-lecturer"
              ><button
                type="button"
                class="btn btn-primary btn-block register-btn"
              >
                Lecturer
              </button></a
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-sm-12 d-flex justify-content-end">
        <img class="mb-3" src="./public/images/landingPage.svg" width="100%" />
      </div>
    </div>
  </div>
</main>

<!--  -->
<%- include('./Partials/footer');%>