<%- include('./Partials/header');%>

<head>
  <link rel="stylesheet" href="./public/styles/auth.css" />
</head>
<main class="container main">
  <div class="row">
    <div class="col-12 col-md-6 order-md-1 col-sm-12 order-sm-2 form mb-5">
      <form class="form-signin" action="/register-lecturer" method="POST">
        <h1 class="h3 mb-1 font-weight-normal">Welcome to Consultify</h1>
        <p class="mb-2" style="color: #aaa; font-weight: 300">
          Register as a lecturer
        </p>

        <label for="name" class="sr-only">Name:</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control mb-3"
          placeholder="Name"
          required
          autofocus
        />
        <label for="email" class="sr-only">Email:</label>
        <input
          type="text"
          name="email"
          id="email"
          class="form-control mb-3"
          placeholder="Email"
          required
        />
        <label for="password" class="sr-only">Password:</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control mb-3"
          placeholder="Password"
          required
        />
        <label for="confirmPassword" class="sr-only">Confirm Password:</label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          class="form-control mb-5"
          placeholder="Confirm Password"
          required
        />
        <% if (messages.error) { %>
        <div class="alert alert-danger err-btn"><%= messages.error %></div>
        <% } %>
        <button class="btn btn-primary btn-block signin-btn" type="submit">
          Sign up
        </button>
      </form>
    </div>
    <div class="col-12 col-md-6 order-md-2 col-sm-12">
      <img class="mb-5 auth-img" src="./public/images/auth.svg" width="100%" />
    </div>
  </div>
</main>
<%- include('./Partials/footer');%>
