<%- include('./Partials/header');%>

<head>
    <h1>
        <p>
            Hello, <%= userInfo.name %>
        </p>
        <p>
            Welcome to your dashboard!  
            You are a lecturer
        </p>
        
    </h1>
</head>

<%- include('./Partials/footer');%>