<%- include('./Partials/header');%>

<head>
    <h1>
        <p>
        Hi <%= user.name %>
        </p>
        <p>
            Welcome to your dashboard! 
        </p>
    </h1>
</head>

<%- include('./Partials/footer');%>