<%- include('../../Partials/header');%>
<body>
  <div
    class="container d-flex justify-content-center align-items-center"
    style="margin-top: 20%"
  >
    <form action="/reset-password-lecturer" method="POST">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email"
        required
      />
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
  </div>
  <% if (typeof messages !== 'undefined' && messages.error) { %>
    <div
      class="alert alert-danger"
      role="alert"
      style="width: 25%; margin-left: auto; margin-right: auto"
    >
      <%= messages.error %>
    </div>
  <% } else if (messages.Success) { %>
    <div
      class="alert alert-success"
      role="alert"
      style="width: 25%; margin-left: auto; margin-right: auto"
    >
      <%= messages.Success %>
    </div>
  <% } %>
  
</body>
<%-include('../../Partials/footer');%>
