<%- include('../../Partials/header');%>

<head>
  <link rel="stylesheet" href="./public/styles/auth.css" />
</head>

<main>
  <div class="container d-flex justify-content-center">
    <% if (typeof messages !== 'undefined' && messages.error) { %>
    <div class="alert alert-danger" role="alert"><%= messages.error %></div>
    <% } %>

    <div class="col-10 col-md-4 col-sm-10 form mb-5 mt-5">
      <form
        class="form-signin"
        action="/resetpassword-student/<%= userId %>"
        method="POST"
      >
        <div class="form-group">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control mb-3"
            placeholder="New Password"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            id="confirm-password"
            name="confirmPassword"
            class="form-control mb-5"
            placeholder="Confirm Password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Reset Password
        </button>
      </form>
    </div>
  </div>

</main>
<%-include('../../Partials/footer');%>
